#cloud-config

package_upgrade: true
package_update: true
packages:
  - coreutils
  - curl
  - git
  - make
  - python3-apt
  - python3-venv
  - sudo

write_files:
  - owner: root:root
    permissions: '0600'
    path: /etc/provision/pubkey
    content: |-
      {{ pubkey|indent(6) }}
  - owner: root:root
    permissions: '0600'
    path: /etc/provision/gitlab_runner_token
    content: |-
      {{ gitlab_runner_token|indent(6) }}
{% for filename in (
        'Makefile',
        'metrics.py',
        'metrics.service',
        'playbook.yml',
        'requirements.txt',
        'requirements.yml',
) %}
  - owner: root:root
    permissions: '0600'
    path: /etc/provision/{{ filename }}
    content: |-
      {{ static_file(filename)|indent(6) }}
{% endfor %}

runcmd:
  - /usr/bin/make -C /etc/provision/ >> /etc/provision/log
  - touch /etc/provision/completed
