[Unit]
Description=Broadcast selected GitLab runner metrics on WAN
After=network.target


[Service]
Type=simple
Restart=always
RestartSec=30
ExecStart=/usr/local/bin/metrics
DynamicUser=yes
NoNewPrivileges=true


[Install]
WantedBy=multi-user.target
